//Заголовки
.title {
  @extend %secondFont;
  font-weight: 600;
  color: $dark;
  letter-spacing: toRem(0.68);
  @include adaptiveValue("font-size", 34, 24);
  line-height: 1.1;
  display: flex;
  column-gap: toEm(20, 36);
  align-items: flex-start;
  text-transform: capitalize;
  &::before {
    content: "";
    background-color: $violet;
    flex: 0 0 toRem(6);
    width: toRem(6);
    height: toEm(30, 36);
    border-radius: toRem(10);
    margin-top: toEm(5, 36);
  }
  &--margin:not(:last-child) {
    @include adaptiveValue("margin-bottom", 70, 20);
  }
  &--product:not(:last-child) {
    margin-bottom: toRem(30);
  }
  &--info {
    @include adaptiveValue("font-size", 28, 22);
  }
}
.title-form {
  color: $dark;
  @extend %secondFont;
  @include adaptiveValue("font-size", 22, 20);
  font-weight: 600;
  line-height: 1.52; /* 152.273% */
  letter-spacing: toRem(0.44);
}
.common {
  margin-bottom: toRem(100);
}
/*===============================================================================================*/
//Previw card

.item-product {
  display: grid;
  gap: toRem(30);
  position: relative;
  //.item-product--category
  &--category {
    gap: toRem(25);
  }
  //.item-product__favorite{
  &__favorite {
    position: absolute;
    top: toRem(27);
    right: toRem(21);
    width: toRem(32);
    height: toRem(32);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    color: $dark;
    z-index: 5;
    transition: all 0.3s;
    &--active {
      color: #ff0000;
    }
    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.1);
        color: #ff0000;
      }
    }
  }
  // .item-product__picture-link
  &__picture-link {
    display: block;
    border-radius: toRem(10);
    overflow: hidden;
  }
  //.item-product__image
  &__image {
    aspect-ratio: 282 / 370;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: toRem(10);
    transition: transform 0.3s;
    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.1);
      }
    }
    .item-product--category & {
      aspect-ratio: 270 / 393;
    }
  }
  // .item-product__body
  &__body {
    display: grid;
    grid-template: auto auto / 1fr auto;
    column-gap: toRem(35);
    row-gap: toRem(3);
  }
  // .item-product__title
  &__title {
    min-width: 0;
    font-weight: 600;
    color: $dark;
    .item-product--category & {
      font-size: toRem(17);
      font-weight: 700;
    }
  }
  // .item-product__link-title
  &__link-title {
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  // .item-product__label
  &__label {
    grid-row: 2 / 3;
    font-size: toRem(14);
    font-weight: 500;
  }

  &__link,
  &__price {
    grid-column: 2 / 3;
    grid-row: span 2;
  }
  // .item-product__link
  &__link {
    display: flex;
    align-items: center;
    &::before {
      transition: color 0.3s;
    }
    @media (any-hover: hover) {
      &:hover {
        color: #000;
      }
    }
  }
  //.item-product__price
  &__price {
    align-self: center;
    border-radius: toRem(8);
    background-color: $lightgray;
    padding: toRem(10) toRem(20);
    font-weight: 700;
    font-size: toRem(14);
  }
}

/*===============================================================================================*/
//button
.button {
  @extend %mainFont;
  background-color: $violet;
  padding: toRem(16) toRem(20);
  display: inline-block;
  font-size: toRem(18);
  color: $white;
  border-radius: toRem(8);
  line-height: 1.22;
  text-align: center;
  transition: all 0.3s;
  @media (any-hover: hover) {
    &:hover {
      background-color: #6620c1;
      box-shadow: 0px toRem(3) toRem(4) 0px rgba(0, 0, 0, 0.1);
    }
    &:focus {
      background-color: #6620c1;
    }
    &:disabled {
      cursor: default;
      background-color: #eaeaea;
      color: #807d7e;
    }
  }
  //.button--border
  &--border {
    color: $dark;
    background-color: $white;
    border: toRem(1) solid $dark;
    @media (any-hover: hover) {
      &:hover {
        color: $violet;
        background-color: $white;
        box-shadow: none;
      }
      &:focus {
        border-color: $violet;
      }
      &:disabled {
        cursor: default;
        background-color: #eaeaea;
        color: #807d7e;
      }
    }
  }
  //.button--white
  &--white {
    background-color: $white;
    color: $dark;
    @media (any-hover: hover) {
      &:hover {
        color: $white;
        background-color: $violet;
        box-shadow: 0px toRem(3) toRem(4) 0px rgba(0, 0, 0, 0.1);
      }
    }
    &:focus {
      box-shadow: none;
    }
  }
  //.button--gray
  &--gray {
    background-color: $lightgray;
    color: $gray;
    @media (any-hover: hover) {
      &:hover {
        color: $white;
      }
    }
  }
}

/*===============================================================================================*/
// Rating
.rating {
  display: inline-flex;
  gap: toRem(15);
  align-items: center;
  // .rating__items
  &__items {
    display: inline-flex;
    align-items: flex-start;
    gap: toRem(7);
    height: toRem(20);
    .rating--set & {
      @media (any-hover: hover) {
        &:hover {
          .rating__item {
            background: url("../img/icons/star-active.svg") 0 0 / toRem(20) no-repeat;
          }
        }
      }
    }
  }
  // .rating__item
  &__item {
    flex: 0 0 toRem(20);
    width: toRem(20);
    position: relative;
    background: url("../img/icons/star.svg") 0 0 / toRem(20) no-repeat;
    &.active {
      background: url("../img/icons/star-active.svg") 0 0 / toRem(20) no-repeat;
    }
    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: toRem(20);
      background: url("../img/icons/star-active.svg") 0 0 / toRem(20) no-repeat;
    }
    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: toRem(7);
        transform: translateX(100%);
      }
    }
    .rating--set & {
      @media (any-hover: hover) {
        &:hover {
          ~ .rating__item {
            background: url("../img/icons/star.svg") 0 0 / toRem(20) no-repeat;
            span {
              display: none;
            }
          }
        }
      }
    }
  }
  // .rating__input
  &__input {
    aspect-ratio: 1 / 1;
    width: 100%;
    opacity: 0;
    .rating--set & {
      cursor: pointer;
    }
  }
  //.rating__value
  &__value {
    font-size: toRem(18);
    font-weight: 500;
  }
}
/*===============================================================================================*/
//.braedcrumbs
.breadcrumbs {
  display: flex;
  font-size: toRem(18);
  font-weight: 500;
  line-height: 1.2;
  column-gap: toRem(15);
  flex-wrap: wrap;
  row-gap: toRem(15);
  padding-top: toRem(23);
  &:not(:last-child) {
    @include adaptiveValue("margin-bottom", 50, 20);
  }
  // .breadcrumbs__item
  &__item {
    display: flex;
    flex-direction: row-reverse;
    column-gap: toRem(15);
    align-items: center;
    &::before {
      font-size: toRem(10);
      transition: color 0.3s;
    }
    @media (any-hover: hover) {
      &:hover {
        &::before {
          color: $dark;
        }
      }
    }
  }
  // .breadcrumbs__link
  &__link {
    transition: color 0.3s;
    @media (any-hover: hover) {
      &:hover {
        color: $dark;
      }
    }
  }
  // .breadcrumbs__current
  &__current {
    color: $dark;
  }
} /*===============================================================================================*/
//.tabs
.tabs {
  // .tabs__navigation
  &__navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: toRem(30);
    row-gap: toRem(15);
    margin-bottom: toRem(30);
  }
  // .tabs__item
  &__item {
  }
  // .tabs__button
  &__button {
    display: flex;
    gap: toRem(20);
    align-items: center;
    font-size: toRem(18);
    line-height: 1.23;
    position: relative;
    padding-bottom: toRem(15);
    transition: color 0.3s;
    @media (any-hover: hover) {
      &:hover {
        color: $dark;
      }
    }
    .active & {
      color: $dark;
      font-weight: 500;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 50%;
        height: toRem(1.4);
        background-color: #000;
      }
    }
  }
  // .tabs__comment-info
  &__comment-info {
    background-color: $violet;
    padding: toRem(4) toRem(6);
    color: $white;
    border-radius: toRem(4);
    font-size: toRem(10);
    font-weight: 500;
  }
  // .tabs__faq-info
  &__faq-info {
    @extend .tabs__comment-info;
    background-color: $dark;
  }
  // .tabs__body
  &__body {
  }
  // .tabs__element
  &__element {
  }
}

/*===============================================================================================*/
.account-info {
  @media (max-width: toEm(767.98)) {
    margin-bottom: toRem(30);
  }
  // .account-info__header
  &__header {
    @include adaptiveValue("margin-bottom", 40, 20);
  }
  // .account-info__title
  &__title {
    &:not(:last-child) {
      margin-bottom: toRem(15);
    }
  }
  // .account-info__subtext
  &__subtext {
    @extend %secondFont;
    font-size: toRem(14);
    line-height: 1.2;
    letter-spacing: toRem(0.28);
  }
  // .account-info__list
  &__list {
    @media (max-width: toEm(767.98)) {
      column-count: 2;
    }
  }
  // .account-info__item
  &__item {
    padding-top: toRem(11);
    padding-bottom: toRem(11);
    @include adaptiveValue("padding-left", 37, 10, 0, 767.98, 425);
    border-left: toRem(2) solid transparent;
    &--active {
      background-color: $lightgray;
      border-left: toRem(2) solid $dark;
      border-top-right-radius: toRem(8);
      border-bottom-right-radius: toRem(8);
    }
    @media (any-hover: hover) {
      &:hover {
        background-color: $lightgray;
        border-left: toRem(2) solid $dark;
        border-top-right-radius: toRem(8);
        border-bottom-right-radius: toRem(8);
      }
    }
  }
  // .account-info__link
  &__link {
    display: flex;
    gap: toRem(15);
    align-items: center;
    font-size: toRem(18);
    font-weight: 600;
    line-height: 1.2;
    &::before {
      width: toRem(22);
      height: toRem(22);
    }
  }
}
/*===============================================================================================*/
//.select-form
.select-form {
  appearance: none;
  height: toRem(49);
  padding: 0 toRem(20);
  border-radius: toRem(8);
  color: $gray;
  width: 100%;
  background: $lightgray url("../img/checkout/select.svg") 96% no-repeat;
}
//.checkbox
.checkbox {
  position: relative;

  & input:checked + label::before {
    background-color: $violet;
  }

  label {
    display: inline-flex;
    align-items: center;
    column-gap: toRem(10);
    cursor: pointer;
    color: $dark;
    font-size: toRem(18);
    line-height: 1.2;
    &::before {
      content: "";
      flex: 0 0 toRem(18);
      width: toRem(18);
      height: toRem(18);
      border: toRem(2) solid $gray;
      border-radius: toRem(3);
    }
  }

  // .form-billing__check
  &__check {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }
}

.item-wishlist {
  display: flex;
  @include adaptiveValue("column-gap", 50, 20);
  row-gap: toRem(20);
  align-items: center;
  justify-content: space-between;
  @include adaptiveValue("padding-bottom", 30, 15);
  border-bottom: toRem(1) solid #edeef2;
  @media (max-width: toEm(599.98)) {
    flex-wrap: wrap;
  }
  //.item-wishlist__products
  &__products {
    flex: 1 1 auto;
    display: flex;
    @include adaptiveValue("column-gap", 35, 15);
    align-items: center;
    color: $dark;
    font-weight: 700;
    letter-spacing: toRem(0.44);
    line-height: 1.2;
    @include adaptiveValue("font-size", 22, 16);
    span {
      color: $gray;
      font-weight: 500;
    }
  }
  // .item-wishlist__delete
  &__delete {
    font-weight: 500;
    font-size: toRem(14);
    transition: all 0.3s;
    @media (any-hover: hover) {
      &:hover {
        &::before {
          transform: scale(1.05);
          color: $violet;
        }
      }
    }
  }
  // .item-wishlist__image
  &__image {
    flex: 0 0 toRem(110);
    overflow: clip;
    border-radius: toRem(8);
    aspect-ratio: 1 /1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1);
      transition: transform 0.3s;
    }
    @media (any-hover: hover) {
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
  // .item-wishlist__body
  &__body {
    flex: 1 1 auto;
    & *:not(:last-child) {
      margin-bottom: toRem(12);
    }
  }
  // .item-wishlist__title
  &__title {
    a {
      transition: color 0.3s;
    }
    @media (any-hover: hover) {
      &:hover {
        a {
          color: $violet;
        }
      }
    }
  }
  // .item-wishlist__color
  &__color {
  }
  // .item-wishlist__quantity
  &__quantity {
  }
  // .item-wishlist__price
  &__price {
    flex: 1 1 auto;
    @include adaptiveValue("font-size", 22, 16);
    font-weight: 700;
    letter-spacing: toRem(0.44);
    text-align: right;
    @media (max-width: toEm(492.98)) {
      text-align: left;
    }
  }
  // .item-wishlist__button
  &__button {
    flex: 0 0 toRem(143);
    padding-top: toRem(14);
    padding-bottom: toRem(14);
    min-width: toRem(143);
    @include adaptiveValue("font-size", 18, 16);
  }
}
