.info-personal {
  // .info-personal__container
  &__container {
  }
  // .info-personal__breadcrumbs
  &__breadcrumbs {
  }
  // .info-personal__body
  &__body {
    @media (min-width: toEm(767.98)) {
      display: flex;
      @include adaptiveValue("gap", 50, 20);
    }
  }
  // .info-personal__account
  &__account {
    flex: 0 0 300px;
  }
  // .info-personal__contact
  &__contact {
    flex: 1 1 auto;
  }
}

.contact {
  // .contact__title
  &__title {
    margin-bottom: toRem(20);
    &::before {
      display: none;
    }
  }
  // .contact__form
  &__form {
  }
  // .contact__address
  &__address {
  }
}
.form-contact {
  display: grid;
  gap: toRem(22);
  @include adaptiveValue("margin-bottom", 30, 20);
  //.form-contact__title
  &__title {
    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }
  // .form-contact__line
  &__line {
    position: relative;
    font-size: toRem(18);
    line-height: 1.2;
    font-weight: 600;
    padding-bottom: toRem(20);
    border-bottom: toRem(1) solid #edeef2;
    label {
      display: block;
      margin-bottom: toRem(8);
    }
    input {
      height: toRem(30);

      &::placeholder {
        color: $dark;
        font-weight: 600;
      }
    }
  }
  // .form-contact__button
  &__button {
    color: $dark;
    font-weight: 600;
    height: toRem(30);
    position: absolute;
    right: 0;
    transition: color 0.3s;
    @media (any-hover: hover) {
      &:hover {
        color: $violet;
      }
    }
  }
}

.address-contact {
  // .address-contact__header
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 20);
    }
  }
  // .address-contact__title
  &__title {
  }
  // .address-contact__button
  &__button {
    color: $dark;
    font-weight: 600;
    height: toRem(30);
    transition: color 0.3s;
    text-transform: capitalize;
    @media (any-hover: hover) {
      &:hover {
        color: $violet;
      }
    }
  }
  // .address-contact__items
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include adaptiveValue("gap", 25, 15);
    @media (max-width: toEm(991.98)) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  // .address-contact__item
  &__item {
  }
}
.item-contact {
  @include adaptiveValue("padding-top", 25, 15);
  @include adaptiveValue("padding-bottom", 25, 15);
  @include adaptiveValue("padding-left", 40, 20);
  @include adaptiveValue("padding-right", 40, 20);
  background-color: $lightgray;
  border-radius: toRem(12);
  display: flex;
  flex-direction: column;
  row-gap: toRem(20);
  font-weight: 500;
  line-height: 1.2;
  // .item-contact__title
  &__title {
    color: $dark;
    @include adaptiveValue("font-size", 20, 18);
    font-weight: 600;
    line-height: 1.2;
  }
  // .item-contact__phone
  &__phone {
  }
  // .item-contact__text
  &__text {
    p:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }
  // .item-contact__buttons
  &__buttons {
    display: flex;
    gap: toRem(12);
    flex-wrap: wrap;
  }
  // .item-contact__button
  &__button {
    padding: toRem(7) toRem(19);
    border-radius: toRem(8);
    border: toRem(1) solid $gray;
    text-align: center;
    transition: all 0.3s;
    font-weight: 500;
    @media (any-hover: hover) {
      &:hover {
        color: $violet;
        border-color: $violet;
      }
    }
  }
  // .item-contact__list
  &__list {
    display: flex;
    gap: toRem(10);
    flex-wrap: wrap;
  }
  li {
    display: flex;
    column-gap: toRem(10);
    &:not(:last-child):after {
      content: "";
      width: toRem(1);
      height: 100%;
      background-color: #d9d9d9;
      transition: background-color 0.3s;
    }
    @media (any-hover: hover) {
      &:hover {
        &::after {
          background-color: $violet;
        }
      }
    }
  }
  // .item-contact__link
  &__link {
    color: $dark;
    font-weight: 600;
    transition: all 0.3s;
    @media (any-hover: hover) {
      &:hover {
        color: $violet;
        border-color: $violet;
      }
    }
  }
}
