.confirmed-order {
  @include adaptiveValue("padding-top", 140, 30);
  // .confirmed-order__container
  &__container {
  }
  // .confirmed-order__body
  &__body {
    @media (max-width: toEm(649.98)) {
      justify-content: center;
    }
    max-width: toRem(704);
    margin: 0 auto;
    position: relative;
    display: flex;
  }
  // .confirmed-order__image
  &__image {
    aspect-ratio: 704 / 512;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @media (max-width: toEm(649.98)) {
      display: none;
    }
  }
  // .confirmed-order__content
  &__content {
    @media (max-width: toEm(649.98)) {
      border: toRem(2) solid $dark;
      border-radius: toRem(12);
      img {
        width: 100%;
        max-width: toRem(150);
        margin-bottom: toRem(30);
      }
    }
    @media (min-width: toEm(649.98)) {
      img {
        display: none;
      }
      position: absolute;
      bottom: 50px;
      right: 0;
    }

    @include adaptiveValue("padding-top", 55, 30, 0, 734, 320);
    @include adaptiveValue("padding-bottom", 48, 30, 0, 734, 320);
    @include adaptiveValue("padding-right", 70, 30, 0, 734, 320);
    @include adaptiveValue("padding-left", 70, 30, 0, 734, 320);
    text-align: center;
  }

  // .confirmed-order__title
  &__title {
    justify-content: center;
    @include adaptiveValue("font-size", 34, 24, 0, 767.98, 320);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 35, 15);
    }
    &::before {
      display: none;
    }
  }
  // .confirmed-order__button
  &__button {
    font-weight: 500;
  }
}
