.details {
  // .details__header
  &__header {
    @include adaptiveValue("padding-top", 28, 15);
    @include adaptiveValue("padding-bottom", 28, 15);
    @include adaptiveValue("padding-left", 47, 10);
    @include adaptiveValue("padding-right", 47, 10);
    @include adaptiveValue("margin-bottom", 50, 25);
    background-color: $lightgray;
    border-radius: toRem(8);
  }
  // .details__items
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: toRem(20);
    @media (max-width: toEm(479.98)) {
      flex-wrap: wrap;
    }
  }
  // .details__item
  &__item {
  }
  // .details__progress
  &__progress {
  }
  //.details__body
  &__body {
    @include adaptiveValue("padding-top", 43, 15);
    @include adaptiveValue("padding-bottom", 43, 15);
    @include adaptiveValue("padding-right", 50, 15);
    @include adaptiveValue("padding-left", 50, 15);
    border-radius: toRem(8);
    background: #f6f6f6;
    display: grid;
    @include adaptiveValue("gap", 30, 15);
    .item-wishlist {
      align-items: flex-start;
      @media (max-width: toEm(767.98)) {
        flex-wrap: wrap;
      }
      &:last-child {
        padding-bottom: toRem(0);
        border-bottom: 0;
      }
    }
    .item-wishlist__products {
      align-items: flex-start;
    }
    .item-wishlist__image {
      flex: 0 0 toRem(102);
      border-radius: toRem(3.8);
    }
    .item-wishlist__quantity {
      flex-grow: 0;
      flex-shrink: 0;
      @include adaptiveValue("flex-basis", 150, 75);
      @include adaptiveValue("font-size", 22, 16);
      font-weight: 700;
      text-align: right;
      color: $dark;
      span {
        color: $gray;
        font-weight: 500;
      }
    }
    .item-wishlist__price {
      flex-grow: 0;
      flex-shrink: 0;
      @include adaptiveValue("flex-basis", 150, 75);
      text-align-last: left;
    }
  }
}
.item-details {
  line-height: 1.2;
  // .item-details__element
  &__element {
    font-size: toRem(16);
    font-weight: 500;
    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
    //.item-details__element--total
    &--total {
      font-size: toRem(18);
      span {
        color: $dark;
        font-weight: 800;
      }
    }
  }
  // .item-details__title
  &__title {
    color: $dark;
    font-weight: 600;
    @include adaptiveValue("font-size", 20, 18);
  }
}

.progress {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  @include adaptiveValue("margin-bottom", 80, 30);
  // .progress__form
  &__form {
    width: 90%;
    max-width: toRem(630);
    @include adaptiveValue("margin-bottom", 50, 25);
  }
  // .progress__scale
  &__scale {
    display: flex;
    position: relative;
    width: 100%;
    height: toRem(30);
    @include adaptiveValue("margin-bottom", 50, 25);
    &::before {
      content: "";
      position: absolute;
      height: toRem(4);
      background-color: #bebcbd;
      width: calc(100% * (3 / 4));
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    input {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
    }
    label {
      display: inline-block;
      position: relative;
      width: 25%;
      height: 100%;
      cursor: pointer;
      &:before {
        content: attr(data-fulfillment);
        position: absolute;
        left: 50%;
        transform: translate(-50%, toRem(25));
        padding-top: toRem(11);
        color: #000;
        font-size: toRem(14);
        @include adaptiveValue("font-size", 14, 12);
        font-weight: 600;
        line-height: 1.2;
        white-space: nowrap;
      }
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: toRem(16);
        height: toRem(16);
        background-color: #bebcbd;
        border-radius: 50%;
      }
      &:last-child::before {
        color: #bebcbd;
      }
      &.done::after {
        width: toRem(20);
        height: toRem(20);
        background-color: $dark;
      }
      &.active::after {
        width: toRem(22);
        height: toRem(22);
        border: toRem(4) solid #bebcbd;
        background-color: $dark;
      }
    }
  }
  //.progress__alert
  &__alert {
    width: 100%;
    @include adaptiveValue("padding-top", 24, 15);
    @include adaptiveValue("padding-bottom", 24, 15);
    @include adaptiveValue("padding-left", 30, 15);
    @include adaptiveValue("padding-right", 30, 15);
    border-radius: toRem(8);
    border: toRem(0.5) solid rgba(128, 125, 126, 0.2);
    background: $lightgray;
    @include adaptiveValue("font-size", 16, 15);
    font-weight: 600;
    line-height: 1.2;
    span {
      color: $dark;
      @include adaptiveValue("margin-left", 40, 20);
    }
  }
}
