.wishlist {
  // .wishlist__container
  &__container {
  }
  // .wishlist__breadcrumbs
  &__breadcrumbs {
  }
  // .wishlist__body
  &__body {
    @media (min-width: toEm(991.98)) {
      display: flex;
      @include adaptiveValue("gap", 50, 15, 0, $containerWidth, 767.98);
    }
  }
  // .wishlist__account
  &__account {
    flex: 0 0 300px;
    @media (max-width: toEm(991.98)) {
      margin-bottom: toRem(30);
      .account-info__list {
        column-count: 2;
      }
    }
  }
  // .wishlist__content
  &__content {
    flex: 1 1 auto;
  }
  // .wishlist__title
  &__title {
    @include adaptiveValue("margin-bottom", 50, 30);
  }
  // .wishlist__items
  &__items {
    display: grid;
    @include adaptiveValue("row-gap", 30, 15);
  }
  // .wishlist__item
  &__item {
  }
}
